.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
